div {
  height: 100px;
  width: 100px;
  border: 1px solid;
/*   transform: translate(100px, 100px); */
/*   transform: rotate(20deg); */
/*   transform: scale(2, 3); */
/*   transform: skew(20deg, 30deg); */
/*   transform: matrix(1, -0.3, 0.4, 1, 20, 50); */
}